<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Classification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background: linear-gradient(to right, #f8f9fa, #6c757d);
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Email Classification</h1>
        <form action="/classify" method="post">
            <label for="classifier">Insert Your Email Message:</label>
            <div class="form-group">
                <textarea class="form-control" id="email_text" name="email_text" rows="4" placeholder="Type your email here..."></textarea>
            </div>
            <div class="form-group">
                <label for="classifier">Select classifier:</label>
                <select class="form-control" id="classifier" name="classifier">
                    <option value="naive_bayes">Naive Bayes</option>
                    <option value="not_implemented_yet">Not Implemented Yet</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Classify</button>
        </form>
    </div>
</body>
</html>
